In [2]:
import yfinance as yf
import os

os.chdir("..")
os.getcwd()

'c:\\Users\\filip\\File Filippo\\Progetti\\Python\\Git Projects\\Git_SavingsPlanProjecter'

In [3]:
SYMBOL = '^GSPC'
START_DATE = "2005-01-01"
END_DATE = "2023-05-19"

In [4]:
tickers = yf.download(SYMBOL, start=START_DATE, end=END_DATE)

[*********************100%***********************]  1 of 1 completed

In [5]:
tickers.columns = tickers.columns.str.upper().str.replace(" ", "_")
tickers.index.name = tickers.index.name.upper()
tickers.head(2)

,OPEN,HIGH,LOW,CLOSE,ADJ_CLOSE,VOLUME
DATE,,,,,,
2005-01-03,1211.920044,1217.800049,1200.319946,1202.079956,1202.079956,1510800000
2005-01-04,1202.079956,1205.839966,1185.390015,1188.050049,1188.050049,1721000000

In [6]:
tickers["ABS_CHANGE"] = tickers.ADJ_CLOSE - tickers.OPEN
tickers["PERC_CHANGE"] = 100 * (tickers.ABS_CHANGE / tickers.OPEN)
tickers["IS_POSITIVE_CHANGE"] = tickers.ABS_CHANGE > 0
tickers.head(2)

,OPEN,HIGH,LOW,CLOSE,ADJ_CLOSE,VOLUME,ABS_CHANGE,PERC_CHANGE,IS_POSITIVE_CHANGE
DATE,,,,,,,,,
2005-01-03,1211.920044,1217.800049,1200.319946,1202.079956,1202.079956,1510800000,-9.840088,-0.811942,False
2005-01-04,1202.079956,1205.839966,1185.390015,1188.050049,1188.050049,1721000000,-14.029907,-1.167136,False

In [7]:
filename = f"{SYMBOL}_{START_DATE}-{END_DATE}.csv"
tickers.to_csv("data/input/" + filename, index=True)